<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mikey.sourcecode.BlogMapper">
    <select id="selectBlog" resultType="com.mikey.sourcecode.Blog">
    select * from blog where blogId = #{id}
  </select>
    <delete id="deleteById">
        delete from blog where blogId = #{id}
    </delete>
    <insert id="insert" parameterType="com.mikey.mybatis.entity.Types">
        insert into blog values ('','','','');
    </insert>
    <update id="" parameterType="">
        update blog set  =  where blogid = #{blogId};
    </update>
</mapper>